<div class="container-fluid">
    <app-page-title title="Groups" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-md-2">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="tickets-table_length"><label
                    class="d-inline-flex align-items-center">Show
                    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                      [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select> entries</label></div>
              </div>
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                      aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label>
                      <div class="text-sm-right">
                          <button type="button"  (click)="open(content)" class="btn btn-success btn-rounded mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>
                            Add New Payment Method</button>
                        </div>
                  </div>
              </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive">
              <table id="basic-datatable"
                class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                <thead>
                  <tr>
                    <th>#</th>
                    <th sortable="name" (sort)="onSort($event)">Payment Method</th>
                    <th sortable="position" (sort)="onSort($event)">طريقة الدفع</th>
                    <th sortable="office" (sort)="onSort($event)">Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let table of tables$ | async">
                  <tr>
                    <td><ngb-highlight [result]="table.id" [term]="service.searchTerm"></ngb-highlight></td>
                    <td>
                      <ngb-highlight [result]="table.name_en" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="table.name_ar" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <div class="custom-control custom-switch mb-3" dir="ltr">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                          <label class="custom-control-label" for="customSwitch1"></label>
                        </div>
                    </td>
                    <td>
                      <div ngbDropdown container="body" placement="bottom-left">
                        <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                          aria-expanded="true"></i>
                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                          <a class="dropdown-item" (click)="openEdit(editContent, table.id)"><i class="mdi mdi-account-edit"></i>Edit</a>
                          <a class="dropdown-item" (click)="deleteGroupItem(table.id)"><i class="mdi mdi-delete"></i>delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{service.startIndex}} to
                  {{service.endIndex}} of {{service.totalRecords}}
                  entries
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                  <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                  </ngb-pagination>
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Add new Payment Method</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" id="newForm" [formGroup]="newForm" (ngSubmit)="onSubmit(modal)">

        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

        <div class="form-group">
          <label for="name_en">Payment Method</label>

          <input type="text" formControlName="name_en" class="form-control" id="name_en"
            [ngClass]="{ 'is-invalid': submitted && f.name_en.errors }" />
          <div *ngIf="submitted && f.name_en.errors" class="invalid-feedback">
            <div *ngIf="f.name_en.errors.required">Payment Method is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name_ar">طريقة الدفع</label>

          <input type="text" formControlName="name_ar" class="form-control" id="name_ar"
            [ngClass]="{ 'is-invalid': submitted && f.name_ar.errors }" />
          <div *ngIf="submitted && f.name_ar.errors" class="invalid-feedback">
            <div *ngIf="f.name_ar.errors.required">طريقة الدفع is required</div>
          </div>
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <input class="btn btn-primary" type="submit" form="newForm" value="Save"/>

    </div>
  </ng-template>

  <ng-template #editContent role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Edit Payment Method</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" id="editForm" [formGroup]="editForm" (ngSubmit)="onEdit(modal)">

        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
        <div class="form-group">
          <label for="name_en">ID</label>

          <input type="text" formControlName="id" class="form-control" id="id"
            [ngClass]="{ 'is-invalid': submitted && fe.id.errors }"/>
          <div *ngIf="submittedEdit && fe.id.errors" class="invalid-feedback">
            <div *ngIf="fe.id.errors.required">ID is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name_en">Payment Method</label>

          <input type="text" formControlName="name_en" class="form-control" id="name_en"
            [ngClass]="{ 'is-invalid': submitted && fe.name_en.errors }" />
          <div *ngIf="submittedEdit && fe.name_en.errors" class="invalid-feedback">
            <div *ngIf="fe.name_en.errors.required">Payment Method is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name_ar">طريقة الدفع</label>

          <input type="text" formControlName="name_ar" class="form-control" id="name_ar"
            [ngClass]="{ 'is-invalid': submitted && fe.name_ar.errors }" />
          <div *ngIf="submittedEdit && fe.name_ar.errors" class="invalid-feedback">
            <div *ngIf="fe.name_ar.errors.required">طريقة الدفع is required</div>
          </div>
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <input class="btn btn-primary" type="submit" form="editForm" value="Save"/>

    </div>
  </ng-template>
